.page-public {

  md-sidenav {
    display: none !important;
  }
  .toggle-menu-button {
    display: none !important;
  }

  .cms-login {
    margin: 0 auto;
    width: 75%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }


}