<md-dialog class="form-dialog form-show">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ !show.id ? "New Show" : "Update Show"}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <form action="createAlbum" layout="column" layout-gt-xs="row" layout-wrap>

                <error-block flex="100" messages="errorMsgs"></error-block>

                <md-input-container flex="100" flex-gt-xs="50">
                    <label>On Date</label>
                    <input type="text" pick-a-date="show.on_datetime">
                </md-input-container>

                <md-input-container flex="100" flex-gt-xs="50">
                    <label>On Time</label>
                    <input type="text" pick-a-time="show.on_datetime" pick-a-time-options="{interval: 15,  min: [7,30], max: [23,0]}">
                </md-input-container>
                
                <md-input-container flex="100" flex-gt-xs="50">
                    <label>End Date</label>
                    <input type="text" pick-a-date="show.end_date">
                </md-input-container>

                <md-input-container flex="100">
                    <label>Show Name</label>
                    <input type="text" ng-model="show.name"/>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Address</label>
                    <input type="text" ng-model="show.address"/>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Contact</label>
                    <input type="text" ng-model="show.contact"/>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Impression</label>
                    <textarea ng-model="show.impression" cols="30" rows="10"></textarea>
                </md-input-container>
                
                <md-input-container flex="100">
					<p>Content</p>
					<textarea ng-model="show.content" froala="froalaOptions" cols="30" rows="10"></textarea>
	            </md-input-container>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-warn" ng-click="deleteShow(show)" ng-show="show.id">Delete</md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="submitShow(show)">Submit</md-button>
    </md-dialog-actions>
</md-dialog>