<p><a ui-sref="user">Back to Users</a></p>

<form name="CreateUser">
    <md-content layout="row" layout-wrap>
        <error-block messages="errorMsgs"></error-block>

        <md-input-container flex="50" flex-xs="100">
            <label>Secname</label>
            <input type="text" ng-model="user.sec_name"/>
        </md-input-container>

        <md-input-container flex="50" flex-xs="100">
            <md-select ng-model="user.type" placeholder="Type">
                <md-option ng-repeat="authType in authTypes" ng-value="authType.id">{{authType.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="50" flex-xs="100">
            <label>Secpass</label>
            <input type="password" ng-model="user.sec_pass"/>
        </md-input-container>
        <md-input-container flex="50" flex-xs="100">
            <label>Name</label>
            <input type="text" ng-model="user.name"/>
        </md-input-container>
        <md-input-container flex="50" flex-xs="100">
            <label>DOB</label>
            <input type="text" pick-a-date="user.dob"/>
        </md-input-container>

        <div flex="100" class="actions">
            <md-button class="md-raised md-primary" ng-click="createUser()">
                Submit
            </md-button>
        </div>
    </md-content>
</form>